body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #020617;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.panel {
  overflow-y: auto;
  padding: 20px;
}

.preview {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  background: #000;
}

input, select, textarea, button {
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  background: #2563eb;
  color: #fff;
  cursor: pointer;
  margin-top: 15px;
}

textarea {
  height: 160px;
  margin-top: 15px;
  background: #020617;
  color: #38bdf8;
  font-family: monospace;
}

@media(max-width:900px){
  .container{grid-template-columns:1fr}
  .preview{height:400px}
}
