body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.panel {
  width: 100%;
  max-width: 600px;
  background: #020617;
  padding: 25px;
  border-radius: 10px;
}

label {
  display: block;
  margin-top: 15px;
}

input, select, button, textarea {
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  margin-top: 15px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

textarea {
  height: 250px;
  margin-top: 20px;
  background: #020617;
  color: #38bdf8;
}
